@font-face {
  font-family: "Lunchtype";
  src: url("./fonts/Lunchtype22-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Lunchtype22-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Lunchtype22-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Lunchtype22-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Lunchtype22-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Lunchtype22-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Lunchtype22-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Lunchtype", monospace;
  font-size: 25px;
  line-height: 0.9;
  letter-spacing: -1.2px;
  background: rgb(252, 252, 252);
}

main {
  margin: 20px 0px 0;
}

@media only screen and (min-width: 700px) {
  main {
    position: absolute;
    right: 0px;
    margin: 40px 40px 0;
    max-width: 60ch;
  }
}

p {
  margin: 0;
  padding-bottom: 1.3em;
}


.space-above {
  padding-top: 10px;
  margin-top: 80px;
}

a {
  color: black;
  text-decoration: line-through;
}
ul { margin-top: 0;}
