@font-face {
  font-family: "Lunchtype";
  src: url("/Lunchtype22-Regular.ttf") format("truetype");
}

body {
  font-family: "Lunchtype", monospace;
  font-size: 18px;
  line-height: 1.3;
}

main {
  padding: 40px 10px 0;
}
@media only screen and (min-width: 700px) {
  main {
    padding: 80px 40px 0;
    max-width: 80ch;
  }
}

p {
  margin: 0;
  padding-bottom: 1.3em;
}


.space-above {
  padding-top: 10px;
  margin-top: 80px;
}

a {
  /* color: blue; */
}
ul { margin-top: 0;}

